#div1
{
    border: 4px solid black;
    height: 400px;
    width:400px;
    margin: 4px;
    margin-top: 100px;
    background-color: aqua;
    padding: 100px;
    margin-bottom: 200px;
}

#div2
{
    border: 4px solid black;
    background-color: red;
    height: 400px;
    width:400px;
   
    margin-top: 300px;
    padding-left: 100px;
    padding-right: 100px;
    
}