div
{
    font-size: 30px;
    width: 300px;
    height: 200px;
    border: 1px solid red;
    display: inline;

}

p{
    font-size: 0.5rem;
    width: 50%;
    height: 50%;
    border: 1px solid cyan;
    display: inline;

}

html
{
    font-size: 100px;
}


#div1
{
    width: 50vw;
    height: 50vh;
    border: 1px solid yellow;
    background-color: blue;
    display: block;
}
