#div1
{
    display: inline-block;
    height: 400px;
    width: 400px;
    border:4px solid black;
    background-color: aqua;


}

#div2
{
    
    display: inline-block;
    height: 400px;
    width: 400px;
    border:4px solid black;
    background-color: red;
}