
#div1
{
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: green;
    border: 4px solid green;
    z-index: 100;
}

#div2
{
    display: inline-block;
    position: fixed;
    width: 400px;
    height: 400px;
    background-color: red;
    left:0;
    border: 4px solid red;
    z-index: 50;
}